* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

p {
  width: 70%;
  max-width: 800px;
}

.one {
  background-color: darkturquoise;
}

.two {
  background-color: lightskyblue;
}

.three {
  background-color: rebeccapurple;
}

.inverse {
  background-color: #777;
}

header {
  height: 80px;
  background-color: aqua;
  width: 100%;
  position: fixed;
}

.accent {
  background-color: red;
}

.shrunk {
  height: 40px;
}
